<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prozrenie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProZrenie">
        <activity
            android:name=".CRGActivity"
            android:exported="true" />
        <activity
            android:name=".ChooseRightGameChooseActivity"
            android:exported="true" />
        <activity
            android:name=".GamesActivity2"
            android:exported="true" />
        <activity
            android:name=".CRGChooseActivityLeftRight"
            android:exported="true" />
        <activity
            android:name=".ChooseRightGameChooseActivityNoisy"
            android:exported="true" />
        <activity
            android:name=".GameCategoryChooseActivity"
            android:exported="true" />
        <activity
            android:name=".MatchGameChooseActivity"
            android:exported="true" />
        <activity
            android:name=".MatchGameActivity"
            android:exported="true" />
        <activity
            android:name=".GamesActivity"
            android:exported="true" />
        <activity
            android:name=".StoryListenActivity"
            android:exported="true" />
        <activity
            android:name=".AudioStoriesActivity"
            android:exported="true" />
        <activity
            android:name=".kids_choose"
            android:exported="true" />
        <activity
            android:name=".document_read"
            android:exported="true" />
        <activity
            android:name=".document_choose"
            android:exported="true" />
        <activity
            android:name=".MatchGameSchemeChooseActivity"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3WithCategories"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3WithCategoriesSubCats1"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3WithCategoriesSubCats2"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3WithCategoriesSubCats3"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3_4thExtra"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3_ChooseRight"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3_FindPair"
            android:exported="true" />
        <activity
            android:name=".GamesActivity3_SolveExpr"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
    </application>

</manifest>